<h1>Welcome to: Novels by Ashley</h1>
<h2>Your source for Novels written by Ashley Lucero</h2>
<%= image_tag("Absolution-Amazon.jpg") %>
<%= image_tag("Redemption-Amazon.jpg") %>
<%= image_tag("coming.soon.jpg") %>
