<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center">Welcome to: Novels by Ashley</h1>
    <h2 class="text-center">Your source for Novels written by Ashley Lucero</h2>
  </div><!--endcolxs12-->
</div><!--endrow-->

<div class="row">
  <div class="col-sm-9 col-xs-12">
    <%= image_tag("Absolution-Amazon.jpg", class: "w-100") %>
  </div><!--endcolsm10-->
  <div class="col-sm-3 col-xs-12">
    <div id="fb-root"></div>
    <div class="fb-page" data-href="https://www.facebook.com/AshleyLucero.TheAwakeningSeries/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/AshleyLucero.TheAwakeningSeries/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AshleyLucero.TheAwakeningSeries/">The Awakening Series</a></blockquote></div>
    <br>
    <br>
    <br>
    <div class="fb-like" data-href="https://www.facebook.com/AshleyLucero.TheAwakeningSeries/" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
  </div><!--endcolsm2-->
</div><!--endrow-->

<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=1089642641184340&autoLogAppEvents=1';
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
