<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
<br>
<br>
<br>
<%= image_tag("typewritterthankyou.jpg") %>
<br>
<br>
<br>
<br>
<br>

<li><%= link_to "Home", root_path %></li>
<br>
<br>
<br>
