// Place all the styles related to the simple_pages controller here.


h1 {
  text-align: center;
  color: #3333C1;
  font-family: sans-serif, Futura;
  padding-top: 56px;
}



// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
