<div class="product-reviews">
  <% @comments.each do |comment| %>
  <div class="product-reviews">
    <% @comments.each do |comment| %>
    <%= render comment %>
    <% end %>
  </div>
  <% end %>
</div>

<div class="digg_pagination">
  <div>
    <%= page_entries_info @comments %>
  </div>
  <%= will_paginate @comments, :container => false %>
</div>
